 
   body,html {
       width: 100%; 
       height: 100%;
       margin: 0px;
       padding: 0px;
       
       
   }


 header{
    color: aliceblue;
    background-color: #1f2937;
    margin: 200;
    padding: 50;
    height: 90px;
    display: flex;
    flex-direction: row;
 }
 ul{
  margin: 0;
  padding: 0;
  list-style-type: none ;
 }
 li{
  display: inline-block;
  margin: 0px 20px;
 }
 section { 
    background-color: hsl(76, 44%, 39%);
    color: aliceblue;
    height: 400px;
 }
 .upper{
   background-color: #1f2937;
   display: flex;
   flex-direction: row;
 }
 .upper div{
  margin: auto;
  background-color:#1f2937;
  width: 530px;
  height: 220px;
 }
 .imgHolder img {
  width: 100%;
  height: 100%;
  
  object-fit: cover;

 }
 .upper-button{
  background-color: #3b82f6;
  border-radius: 10px;
  border: none;
  padding: 10px;
 }
 
 .first-middle{
   background-color: #ffffff;
   height: 50px;
   color: black;
   font-size: medium;
   text-align: center;
   margin-top: 20px;
 }
 .second-middle{
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
 }
 .second-middle div{
  margin: auto;
  border: 2px solid #3b82f6;
  border-color: #3b82f6;
  width: 100px;
  height: 100px;
  border-radius: 10px;
 }
 .third-middle{
  background-color: #e5e7eb;
  display: flex;
  
   
 }
 .third-middle p{
  text-align: center;
  color: black;
  margin-top: 100px;

  
 }
 .bottom{
   background-color:#ffffff;
   display: flex;
   color: black;
   justify-content: center;
   align-items: center;
 }
 .bottom-container{
  background-color: #3b82f6;
  border-radius: 10px;
  margin:0;
  width: 900px;
  height: 120px;
  display: flex;
  flex-direction: row;
  
 }
 .bottom-container div{
  margin: auto;
 }
.parag{
  
  width: 600px;
  height: 100px;
  color: white;
  
  
}
.parag h3{
  margin: 0;
}
.parag p{
  margin-top: 0;
}
.buttonHolder{
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonHolder button{
  background-color: #3b82f6;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px 30px 10px 30px;
color: white;
}




 footer{
    background-color: #1f2937;
    color: aliceblue;
    height: 70px;

 }

 